<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/footer.css">
</head>
<body>
    <footer>
        <div class="footer-gray">
          <div class="footer-custom">
            <div class="footer-lists">
              <div class="footer-list-wrap">
                <h6 class="ftr-hdr">To know more, Call</h6>
                <ul class="ftr-links-sub">
                  <li>+91 9999999999</li>
                </ul>
                <h6 class="ftr-hdr">Location</h6>
                <ul class="ftr-links-sub">
                  <!-- Add Map Here -->
                </ul>
              </div>
              <!--/.footer-list-wrap-->
              <div class="footer-list-wrap">
                <h6 class="ftr-hdr">Services</h6>
                <ul class="ftr-links-sub">
                  <li><a href="/help/talktous.html" rel="nofollow">Contact Us</a></li>
                  <li><a href="/help/placingorders.html" rel="nofollow">Collaborate</a></li>
                 
                  <li><a href="/help/faq.html" rel="nofollow">FAQs</a></li>
                </ul>
              </div>
              <div class="footer-list-wrap">
                <h6 class="ftr-hdr">About Bulls And Bears</h6>
                <ul class="ftr-links-sub">
                  <li><a href="/asp/aboutus/default-asp/_/posters.htm" rel="nofollow">About Us</a></li>
                  <li><a href="http://corporate.art.com/careers" rel="nofollow">Members</a></li>
                  <li><a href="/asp/landing/artistrising" rel="nofollow">Events</a></li>
                  <li><a href="http://blog.art.com" rel="nofollow">BLOGS</a></li>
                </ul>
              </div>
              <!--/.footer-list-wrap-->
              <div class="footer-list-wrap">
                <h6 class="ftr-hdr">My Account</h6>
                <ul class="ftr-links-sub">
                  
                    <li class="ftr-Login"><span class="link login-trigger">Profile</span></li>
                    <li class="ftr-Login"><span class="link ftr-access-my-account">Share Price</span></li>
                    
                </ul>
              </div>
              <div class="footer-list-wrap" id="social-media">
                <h6 class="ftr-hdr">Follow Us At</h6>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                      <img width="24" height="24" alt="Like us on Facebook" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png">
                    </a>
                  </li>
                  <li>
                    <a href="https://plus.google.com/" title="Google+" onclick="_gaq.push(['_trackSocial', 'GooglePlus', 'Follow', 'Footer', 'undefined', 'True']);">
                      <img width="24" height="24" alt="Follow us on Google+" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/gplus.png">
                    </a>
                  </li>
                  <li>
                    <a href="https://pinterest.com/" target="_blank">
                      <img width="24" height="24" alt="Follow us on Pinterest" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/pin-badge.png">
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="http://instagram.com/">
                      <img width="24" height="24" alt="Follow us on Instagram" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png">
                    </a>
                  </li>
                  <li>
                    <a href="https://www.twitter.com/" title="Twitter" onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);">
                      <img width="67" alt="Follow us on Twitter" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/twitter.png">
                    </a>
                  </li>
                </ul>
              </div>
              <!--/.footer-list-wrap-->
            </div>
            <!--/.footer-lists-->
            <div class="footer-email">
                <h6 class="ftr-hdr">Sign up for exclusive news and updates from us</h6>
                
                <form id="ftrEmailForm" method="" action="">
                  <div class="error">Please enter a valid email address</div>
                  <input type="text" name="email_address_" id="ftrEmailInput" class="input" placeholder="Enter email address" />
                  
                  <input type="submit" class="button" value="SUBMIT" />
                  <input type="hidden" name="date" value="Take it from js">
                  
                </form>
              
              <!--/.ftr-email-form-->
              
            </div>
            <!--/.footer-email-->
            
            <!--/.footer-social-->
            <div class="footer-legal">
              <p>&copy; Bulls And Bears. All Rights Reserved. | <a href="/help/privacy-policy.html" rel="nofollow">Privacy Policy</a> | <a href="/help/terms-of-use.html" rel="nofollow">Terms of Use</a> | <a href="/help/terms-of-sale.html" rel="nofollow">Terms of Sale</a></p>
              <p>Photos are trademarks or registered trademarks of Bulls And Bears</p>
              <p>The website is designed and maintained by: ..... ,. ...... ,,.....</p>
            </div>
            <!--/.footer-legal-->
            
            <!--/.footer-payment-->
          </div>
          <!--/.footer-custom-->
        </div>
        <!--/.footer-gray-->
      </footer>
</body>
</html>