<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bazaar | Bnb</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <!-- CSS
	============================================ -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

        <!-- Ionicons CSS -->
        <link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />

        <!-- Themify CSS -->
        <link rel="stylesheet" th:href="@{/css/themify-icons.css}" />

        <!-- Plugins CSS -->
        <link rel="stylesheet" th:href="@{/css/plugins.css}" />

        <!-- Helper CSS -->
        <link rel="stylesheet" th:href="@{/css/helper.css}" />

        <!-- Main CSS -->
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    
    
    <style>
    body{
      background-color: rgb(207, 204, 204);
    }
    h1{
        color: black;
    }
    </style>
    </head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Bazaar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/SharePrices}">Share Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/News}">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">AboutUs</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1> News </h1>
    </div>

    <table class="table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th>Serial Number</th>
            <th>News</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "news: ${NEWS}">
            <td th:text="${news.id}"></td>
            <td th:text="${news.newsData}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<footer>
    <div class="footer-container footer-one pt-100 pb-50">
        <div class="container wide">
            <div class="row">
                <div class="col footer-single-widget">
                    <!--=======  copyright text  =======-->
                    
                </div>
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                    <h5 class="widget-title">ADDRESS</h5>
    
                    <!--=======  footer navigation container  =======-->
    
                    <div class="footer-nav-container">
                        <nav>
                            <p>Designed and maintained by: Chirag Suthar (backend)
                                9428898240</p>
                                <br>
                                Design by:  Vipul Chaudhari (Frontend)
                                97375 65473 
                        </nav>
                    </div>
    
                    <!--=======  End of footer navigation container  =======-->
    
                    <!--=======  single widget  =======-->
                </div>
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                    <h5 class="widget-title">USEFUL LINKS</h5>
    
                    <!--=======  footer navigation container  =======-->
    
                    <div class="footer-nav-container">
                        <nav>
                            <ul>
                                <li><a th:href="@{/home}">HOME</a></li>
                                    <li><a th:href="@{/profile}">Profile</a></li>
                                    <li><a th:href="@{/SharePrices}">Share Price</a></li>
                                    <li><a th:href="@{/News}">News</a></li>
                                    <li><a th:href="@{/home}">About Us</a></li>
                                
                                </ul>
                        </nav>
                    </div>
    
                    <!--=======  End of footer navigation container  =======-->
    
                    <!--=======  single widget  =======-->
                </div>
    
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                    <h5 class="widget-title">FOLLOW US ON</h5>
    
                    <!--=======  footer navigation container  =======-->
    
                    <div class="footer-nav-container footer-social-links">
                        <nav>
                            <ul>
                                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="http://facebook.com/"> <i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i> Instagram</a></li>
                            </ul>
                        </nav>
                    </div>
    
                    <!--=======  End of footer navigation container  =======-->
    
    
                    <!--=======  single widget  =======-->
                </div>
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
    
                    <div class="footer-subscription-widget">
                        <h2 class="footer-subscription-title">Email</h2>
                        <p><a href="mailtogoldweaverugs@gmail.com">bazzar@gmail.com</a></p>
                        <h2 class="footer-subscription-title">Website</h2>
                        <p><a href="www.bazzar.com">www.bazzar.com</a></p>
    
                    </div>
    
                    <!--=======  End of single widget  =======-->
                </div>
            </div>
        </div>
    </div>
    </footer>
</html>