<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Bazaar | Bnb</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    <!-- CSS
	============================================ -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

        <!-- Ionicons CSS -->
        <link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />

        <!-- Themify CSS -->
        <link rel="stylesheet" th:href="@{/css/themify-icons.css}" />

        <!-- Plugins CSS -->
        <link rel="stylesheet" th:href="@{/css/plugins.css}" />

        <!-- Helper CSS -->
        <link rel="stylesheet" th:href="@{/css/helper.css}" />

        <!-- Main CSS -->
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    
          <style>
            body{
              background-color: rgb(207, 204, 204);
            }
            .card-body{
                background-color: gray;
            }
            .card{
                background-color: gray;
            }
            .container{
                padding-bottom: 5%;
            }
            h1{
                color: black;
                text-decoration: solid;
            }
            </style>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div style="width: 100%;">
        <div class="navbar-left-right" id="normal-nav">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Bazaar</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SharePrices}">Share Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/News}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/AboutUs}">AboutUs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-left-right" id="logout-button">
            <a th:href="@{/logout}" class="btn btn-primary" sec:authorize="isAuthenticated()">
                Logout
            </a>
            <a th:href="@{/login}" class="btn btn-primary" sec:authorize="isAnonymous()">
                Login
            </a>
        </div>
    </div>
</nav>


<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <H1 class="text-center"> Sell Shares </H1>
            <div class="card-body">
                <form th:action="@{/Shares/sell/{id}(id=${COMPANY.companyName})}" th:object="${COMPANY}" method="post">

                    <div class="form-group">

                        <label for="CN"> Company Name </label>
                        &emsp;
                        <select name="CompanyName" id="CN">
                            <option th:value="*{companyName}" th:text="*{companyName}"></option>
                        </select>
                        <br>
                        <label> Number of Shares (delete the existing number and enter the numbre you want to buy)</label>
                        <input type="number"
                               name="SharesNumber"
                               th:field="*{shareCount}"
                               class="form-control"
                               placeholder="Enter the Number of Shares">
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-container footer-one pt-100 pb-50">
        <div class="container wide">
            <div class="row">
                <div class="col footer-single-widget">
                    <!--=======  copyright text  =======-->
                    
                </div>
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                    <h5 class="widget-title">ADDRESS</h5>
    
                    <!--=======  footer navigation container  =======-->
    
                    <div class="footer-nav-container">
                        <nav>
                            <p>Designed and maintained by: Chirag Suthar (backend)
                                9428898240</p>
                                <br>
                                Design by:  Vipul Chaudhari (Frontend)
                                97375 65473 
                        </nav>
                    </div>
    
                    <!--=======  End of footer navigation container  =======-->
    
                    <!--=======  single widget  =======-->
                </div>
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                    <h5 class="widget-title">USEFUL LINKS</h5>
    
                    <!--=======  footer navigation container  =======-->
    
                    <div class="footer-nav-container">
                        <nav>
                            <ul>
                                <li><a th:href="@{/home}">HOME</a></li>
                                    <li><a th:href="@{/profile}">Profile</a></li>
                                    <li><a th:href="@{/SharePrices}">Share Price</a></li>
                                    <li><a th:href="@{/News}">News</a></li>
                                    <li><a th:href="@{/home}">About Us</a></li>
                                
                                </ul>
                        </nav>
                    </div>
    
                    <!--=======  End of footer navigation container  =======-->
    
                    <!--=======  single widget  =======-->
                </div>
    
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                    <h5 class="widget-title">FOLLOW US ON</h5>
    
                    <!--=======  footer navigation container  =======-->
    
                    <div class="footer-nav-container footer-social-links">
                        <nav>
                            <ul>
                                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="http://facebook.com/"> <i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i> Instagram</a></li>
                            </ul>
                        </nav>
                    </div>
    
                    <!--=======  End of footer navigation container  =======-->
    
    
                    <!--=======  single widget  =======-->
                </div>
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
    
                    <div class="footer-subscription-widget">
                        <h2 class="footer-subscription-title">Email</h2>
                        <p><a href="mailtogoldweaverugs@gmail.com">bazzar@gmail.com</a></p>
                        <h2 class="footer-subscription-title">Website</h2>
                        <p><a href="www.bazzar.com">www.bazzar.com</a></p>
    
                    </div>
    
                    <!--=======  End of single widget  =======-->
                </div>
            </div>
        </div>
    </div>
    </footer>
</body>

</html>